<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>INDEX</h1>

<div>
    <a href="about">about</a>
    <a href="contact">contact</a>
    <a href="index">index</a>

</div>

<div class="products">
    <div class="product">
        <div class="title">Product</div>
        <div class="description">description product</div>
        <div class="price">199</div>
    </div>
    <div class="product">
        <div class="title">Product</div>
        <div class="description">description product</div>
        <div class="price">199</div>
    </div>
</div>

<script src="js/main,js"></script>
</body>
</html>