
<h1>PRODUCTS</h1>

<div>
    <a href="about">about</a>
    <a href="contact">contact</a>
    <a href="/">index</a>

</div>

<div class="products">
    <div class="product">
        <div class="title">Product</div>
        <div class="description">description product</div>
        <div class="price">199</div>
    </div>
    <div class="product">
        <div class="title">Product</div>
        <div class="description">description product</div>
        <div class="price">199</div>
    </div>
</div>
